p,
h1,
h2,
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0px;
    max-width: 700px;
    line-height: 1.3;
    text-indent: 50px;
}

img {
    display: block;
}

.header {
    padding: 0px 0px
}

.logo {
    padding: 8px 0px;
    max-width: 250px;
}

.tall {
    max-width: 560px;
}

.sub {
    font-family: "Palatino";
    font-size: 21px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
}

p {
    font-size: 18px;
    font-family: "Georgia";
}

h1,
h2 {
    font-family: "Palatino";
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
    padding: 0px
}

.divider {
    padding: 0px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
}

.byline {
    color: #0868ac;
    text-align: right;
    margin-bottom: 0;
}

.photobar {
    max-width: 800px;
}

.footer {
    line-height: 1.3;
    font-size: 15px;
}

a {
    color: #3db3ff;
    text-decoration: none;
    font-weight: bold;
}

.foot {
    background-color: #d2e7f6;
    justify-content: space-between;
    padding: 20px 5% 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: auto
}