p,
h1,
h2,
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0px;
    max-width: 640px;
}

img {
    display: block;
}

.logo {
    padding: 8px 0px;
    max-width: 250px;
}

.tall {
    max-width: 560px;
}

p {
    font-size: 18px;
    font-family: "Ardoise";
}

h1,
h2 {
    font-family: "Palatino";
}


.divider {
    height: 2px;
    background-color: #0868ac;
    max-width: 640px;
    margin: 0 auto;
}

.byline {
    color: lightseagreen;
}