p,
h1,
h2,
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0px;
    max-width: 700px;
}

img {
    display: block;
}

.header {
    padding: 0px 0px
}

.logo {
    padding: 8px 0px;
    max-width: 250px;
}

.tall {
    max-width: 560px;
}

.sub {
    font-family: "Palatino";
    font-size: 21px;
    text-align: center;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    padding: 0px;
}

p {
    font-size: 18px;
    font-family: "Ardoise";
}

h1,
h2 {
    font-family: "Palatino";
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
    padding: 0px
}

.divider {
    padding: 0px 0px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 800px;
}

.byline {
    color: #0868ac;
    text-align: right;
}